<div class="footer text-dark py-5">
    <div class="container">
      <div class="row">
        <!-- Left side columns -->
        <div class="col col-md-4 text-primary">
          <div class="row">
            <div class="col">
              <h6>ABOUT ZOMATO</h6>
              <a href="#">Who We Are</a><br>
              <a href="#">Blog</a><br>
              <a href="#">Work With Us</a><br>
              <a href="#">Investor Relations</a><br>
              <a href="#">Report Fraud</a><br>
              <a href="#">Press Kit</a><br>
              <a href="#">Contact Us</a><br>
            </div>
            <div class="col">
              <h6>ZOMAVERSE</h6>
              <a href="#">Zomato</a><br>
              <a href="#">Blinkit</a><br>
              <a href="#">Feeding India</a><br>
              <a href="#">Hyperpure</a><br>
              <a href="#">Zomaland</a><br>
            </div>
          </div>
        </div>
        <!-- Right side columns -->
        <div class="col col-md-5 col-sm-4 d-block d-flex-sm">
          <div class="row row-cols-1 row-cols-md-3 text-primary">
            <div class="col col-sm-4 sm-mt-5 mt-md-0">
              <h6>RESTAURANTS</h6>
              <a href="#">Partner With Us</a><br>
              <a href="#">Apps For You</a><br>
            </div>
            <div class="col col-sm-4">
              <h6>LEARN MORE</h6>
              <a href="#">Privacy</a><br>
              <a href="#">Security</a><br>
              <a href="#">Terms</a><br>
              <a href="#">Sitemap</a><br>
            </div>
            <div class="col">
              <h6>SOCIAL LINKS</h6>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f mx-1"></i></a>
                <a href="#"><i class="fab fa-twitter mx-2"></i></a>
                <a href="#"><i class="fab fa-instagram mx-2"></i></a>
                <a href="#"><i class="fab fa-linkedin-in mx-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>