@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

/* Define your custom variables */
$primary-color: #007bff;
$menu-item-border: none;
$menu-item-padding: 15px;

body {
    font-family: 'Josefin Sans', sans-serif;
}

.category {
    margin-bottom: 20px;
    gap: 7px;

    .nav-link {
        color: $primary-color;

        &:hover {
            color: darken($primary-color, 10%);
        }
    }

    .nav-link.active {
        background-color: $primary-color;
        color: #fff;
        margin-left: 14px;
    }
}

.success-snackbar {
    background-color: green;
    color: white;
}

.error-snackbar {
    background-color: red;
    color: white;
}


.menu-item {
    border: 1px solid $menu-item-border;
    padding: $menu-item-padding;
    margin-bottom: 20px;
    text-align: center;

    .title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 10px;
    }

    .location {
        font-size: 1rem;
        color: gray;
        margin-bottom: 10px;
    }

    .order {
        .price {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .btn-menu {
            background-color: $primary-color;
            color: #fff;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }
}