<div class="container mt-4">
    <div class="section" id="menu">
      <div class="container">
        <ul class="category nav nav-pills mb-4">
          <li class="nav-item" *ngFor="let category of categories">
            <a class="nav-link" 
               [class.active]="selectedCategory === category" 
               href="javascript:void(0)" 
               (click)="selectCategory(category)">
              {{ category }}
            </a>
          </li>
        </ul>
        <div *ngIf="cartItemAdded" class="alert alert-success">
          Item added to cart successfully!
        </div>
        <div class="restaurant-menu row">
          <div class="menu-item col-md-4 mb-4" *ngFor="let item of filteredMenuItems">
            <div class="card">
              <img [src]="item.image" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <h4 class="card-title text-success">{{ item.title }}</h4>
                <h6 class="text">{{ item.shop }}</h6>
                <p class="card-text">{{ item.location }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="price"> {{ item.price.toFixed(2) | currency:'INR' }}</div>
                  <button (click)="addAndShowMessage(item)" class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

 