<div class="container mt-4">
    <div class="section" id="menu">
        <div class="container">
            <ul class="category nav nav-pills mb-4">
                <li class="nav-item">
                    <a class="nav-link active" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Biryani</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Chicken</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Burger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pasta</a>
                </li>
            </ul>

            <div class="restaurant-menu row">
                <div class="menu-item col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/menu-1.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Oyalo Pizza | Chinese & Thai</h5>
                            <p class="card-text">Tirunelveli</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="price">&#8377; 525.00</div>
                                <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/menu-2.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">A1 Parotta Stall | Chinese & Thai</h5>
                            <p class="card-text">Tirunelveli</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="price">&#8377; 625.00</div>
                                <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/menu-3.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sha Biriyani | Chinese & Thai</h5>
                            <p class="card-text">Tirunelveli</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="price">&#8377; 225.00</div>
                                <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/menu-4.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sweet Truth | Chinese & Thai</h5>
                            <p class="card-text">Tirunelveli</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="price">&#8377; 325.00</div>
                                <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/menu-5.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Foodweel | Chinese & Thai</h5>
                            <p class="card-text">Tirunelveli</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="price">&#8377; 525.00</div>
                                <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item col-md-4 mb-4">
                    <div class="card">
                        <img src="../../../assets/menu-6.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ibaco | Chinese & Thai</h5>
                            <p class="card-text">Tirunelveli</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="price">&#8377; 425.00</div>
                                <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
