<div class="container mt-4">
    <div class="section" id="menu">
      <div class="container">
        <ul class="category nav nav-pills mb-4">
          <li class="nav-item" *ngFor="let category of categories">
            <a class="nav-link" 
               [class.active]="selectedCategory === category" 
               href="javascript:void(0)" 
               (click)="selectCategory(category)">
              {{ category }}
            </a>
          </li>
        </ul>
  
        <div class="restaurant-menu row">
          <div class="menu-item col-md-4 mb-4" *ngFor="let item of filteredMenuItems">
            <div class="card">
              <img [src]="item.image" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.location }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="price">&#8377; {{ item.price.toFixed(2) }}</div>
                  <a href="#" class="btn btn-primary">Order Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>