<app-nav-bar></app-nav-bar>
<div class="container imgcard mt-5 mb-5">
    <div class="row d-flex">
        <div class="col col-sm-4 col-md-4 mb-3">
            <div class="card" style="width: 17rem;" routerLink="./restaurant">
                <img class="card-img-top" src="../../assets/image1.png" alt="order view">
                <div class="card-body">
                    <h5 class="card-title">Order Online</h5>
                    <p class="card-text">Stay home and order to your doorstep</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-4 col-md-4 mb-3">
            <div class="card" style="width: 17rem;" routerLink="./restaurant">
                <img class="card-img-top" src="../../assets/image2.png" alt="order view">
                <div class="card-body">
                    <h5 class="card-title">Dining</h5>
                    <p class="card-text">View the city's favourite dining venue</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-4 col-md-4">
            <div class="card" style="width: 17rem;" routerLink="./restaurant">
                <img class="card-img-top" src="../../assets/image3.png" alt="order view">
                <div class="card-body">
                    <h5 class="card-title">Nightlife and clubs</h5>
                    <p class="card-text">Explore the city's top nightlife outlets</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile-app">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mobileimg">
                <img src="../../assets/main1.webp" alt="mobileapp img-thumbnail" class="img-fluid">
            </div>
            <div class="col-md-6 file">
                <h2 class="mb-3">Get the Zomato app</h2>
                <p class="mb-4">We will call you once you provide your phone number</p>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                    <input type="text" class="form-control" id="phone1" name="phone"
                        placeholder="Enter your phone number" required>
                    <button class="btn btn-danger phone" href="https://whatsapp.com">Contact</button>
                </div>
                <div class="my-4">
                    <hr>
                </div>
                <p>Download app from</p>
                <a href="https://play.google.com/store/apps/details?id=com.application.zomato&hl=en_IN">
                    <img src="../../assets/googleplay.webp" alt="mobileapp">
                </a>
                <a href="https://apps.apple.com/in/app/zomato-food-delivery-dining/id434613896">
                    <img src="../../assets/applestore.webp" alt="mobileapp">
                </a>
            </div>
        </div>
    </div>
</div>
<app-accordion></app-accordion>
<app-footer></app-footer>