
.logo {
    width: 250px;
    margin: 3rem 0 2rem !important;
}

.mobile-app {
    background-color: #fffbf7;
    height:430px;
    padding: 10px;
    margin-top: 20px;
}

.phone {
    margin-right: 240px;
}


.img-fluid {
    max-width: 50%;
    margin-left: 200px;
}

.file img {
    width: 150px;
    margin-right: 10px;
}

.instyle {
    margin:10px;
}

.instyle select {
    border-radius: 0px;
}

.instyle input {

    border-radius: 0px;
}

.bt {
    border-radius: 0px;
}

.imgcard {
   cursor: pointer;
   width: 950px;
}

.cardview{
    margin-left: 45px;
}

.line{
    width: 395px;
}