// google-font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.head {
    background: url('/assets/main-bg.png') center/cover no-repeat;
    height: 400px;
    color: white;
}

h1 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler {
    background-color: white;
}

.dropdown-toggle {
    background-color: #fff;
}


.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: aquamarine;
}

.navbar-nav {
    margin-left: 295px
}

.navbar-nav .nav-item {
    margin: 10px 50px 10px 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.search-bar {
    width: 600px;
}

.logo {
    width: 250px;
    margin: 3rem 0 2rem !important;
}

.phone {
    margin-right: 240px;
}

.btn-outline {
    border-radius: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.layout {
    margin: 10px;
}

.offcanvas {
    width: max-content;
    background: transparent;

    .title {
        color: white;
    }
}

.onelogo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.modal background-content show {
    background: none;
}

.modal-backdrop.show {
    opacity: 0; // Change this to the desired opacity value or remove it to cancel the opacity style completely
    color: #ffcc00;
}

.modal {
    --bs-modal-margin: 1.75rem;
}

.modal-open .background-content {
    visibility: hidden;
    /* Hides the background */
    opacity: var;
    /* Optional: Makes the background transparent */
    transition: visibility 0s, opacity 0.5s linear;
    /* Adds transition for smooth effect */
    background-color: transparent;
}

.google {
    height: 20px;
    width: 20px;
    margin: 5px;
}

.g-body {
    padding: 5px;
}

.line-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.line-text {
    margin: 0 10px;
    white-space: nowrap;
}


/* Centering navbar links */
@media (max-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .g-form{
        margin-right: 15px;
    }

    .offcanvas {
        width: max-content;
        background: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        padding: 1rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        transition: left 0.3s ease;
    }

    /* Optional: Style for the navbar links */
    .offcanvas a {
        color: #ffffff;
        /* Sets the text color of links */
        text-decoration: none;
        /* Removes underline from links */
        display: block;
        /* Makes the links block-level elements */
        padding: 0.5rem 0;
        /* Adds padding around the links */
    }

    /* Optional: Hover effect for the links */
    .offcanvas a:hover {
        color: #ffcc00;
        /* Changes the color on hover */
    }

    .btn-close {
        background-color: bisque
    }

    .search-bar {
        width: fit-content;
    }

    .custom-toggler {
        color: white;
    }

    .card {
        margin-left: 15px;
    }

    .img-fluid {
        margin-left: 0px;
    }
}