<div class="content">
    <div class="wrapper-1">
        <div class="wrapper-2">
            <h1>Payment Success!</h1>
            <p>Your order is on the way.<br> Expect a confirmation email soon!</p>
            <button class="go-home" routerLink="/">Go Home</button>
            <div>
                <a class="track-link">Track your order here.</a>
            </div>
        </div>
        <div class="footer-like">
            <p>All rights reserved &copy; Zomato</p>
        </div>
    </div>
</div>