<app-nav-bar2></app-nav-bar2>
<div class="head mt-2">
    <div class="container">
        <h2 class="pt-5 pb-3 b">Inspiration for your first order</h2>
        <div class="row">
            <div class="col col-sm-4 col-md-2">
                <img src="../../assets/sfood1.png" alt="Biryani" class="img-fluid rounded-circle">
                <p class="text-center">Biryani</p>
            </div>
            <div class="col col-sm-4 col-md-2">
                <img src="../../assets/sfood2.png" alt="Chicken" class="img-fluid rounded-circle">
                <p class="text-center">Chicken</p>
            </div>
            <div class="col col-sm-4 col-md-2">
                <img src="../../assets/sfood3.png" alt="Pizza" class="img-fluid rounded-circle">
                <p class="text-center">Pizza</p>
            </div>
            <div class="col col-sm-4 col-md-2">
                <img src="../../assets/sfood4.png" alt="Fried Rice" class="img-fluid rounded-circle">
                <p class="text-center">Fried Rice</p>
            </div>
            <div class="col col-sm-4 col-md-2">
                <img src="../../assets/sfood5.png" alt="Paratha" class="img-fluid rounded-circle">
                <p class="text-center">Paratha</p>
            </div>
            <div class="col col-sm-4 col-md-2">
                <img src="../../assets/sfood6.png" alt="Parotta" class="img-fluid rounded-circle img6">
                <p class="text-center">Parotta</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3>Top brands for you</h3>
    <div id="brandCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/kfc.png" alt="KFC" class="img-fluid rounded-circle">
                        <h6>KFC</h6>
                        <h6>31 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/A1.png" alt="A1" class="img-fluid rounded-circle">
                        <h6>A1 Parotta Stall</h6>
                        <h6>32 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/sha.png" alt="Sha" class="img-fluid rounded-circle">
                        <h6>Sha Biriyani</h6>
                        <h6>34 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/oyala.png" alt="Oyalo" class="img-fluid rounded-circle img6">
                        <h6>Oyalo Pizza</h6>
                        <h6>32 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/sweet.png" alt="Irani" class="img-fluid rounded-circle">
                        <h6>Sweet Truth</h6>
                        <h6>29 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/ibaco.png" alt="Biryani" class="img-fluid rounded-circle">
                        <h6>Ibaco</h6>
                        <h6>38 min</h6>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/kfc.png" alt="KFC" class="img-fluid rounded-circle">
                        <h6>KFC</h6>
                        <h6>31 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/A1.png" alt="A1" class="img-fluid rounded-circle">
                        <h6>A1 Parotta Stall</h6>
                        <h6>32 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/sha.png" alt="Sha" class="img-fluid rounded-circle">
                        <h6>Sha Biriyani</h6>
                        <h6>34 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/oyala.png" alt="Oyalo" class="img-fluid rounded-circle img6">
                        <h6>Oyalo Pizza</h6>
                        <h6>32 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/sweet.png" alt="Irani" class="img-fluid rounded-circle">
                        <h6>Sweet Truth</h6>
                        <h6>29 min</h6>
                    </div>
                    <div class="col-6 col-md-2 text-center mb-3">
                        <img src="../../assets/ibaco.png" alt="Biryani" class="img-fluid rounded-circle">
                        <h6>Ibaco</h6>
                        <h6>38 min</h6>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#brandCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#brandCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<app-menu></app-menu>
<app-footer2></app-footer2>
